@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* Asegúrate de que el contenedor del mapa ocupe toda la altura */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 300px; /* Ajusta la altura a un tamaño más pequeño */
  width: 400px;  /* Ajusta el ancho a un tamaño más pequeño */
  margin: auto;  /* Centra el mapa en el contenedor */
}
